* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #fec107;
    padding: 0 10px;
}

.input {
    width: 100%
}

.form {
    width: 100%;
}

.form-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
    padding: 30px;
}

.wrapper .form .req {
    margin: 10px;
    align-items: center;
}

.wrapper .form #id {
    padding: 5px;
    margin-top: 20px;
    align-items: center;
}

.wrapper .form #data-protection {
    margin-top: 10px;
    font-size: 10px;
}

.error-message-atom {
    float: right;
    color: rgb(240, 0, 0);
    font-size: 0.7em;
}

.input-header {
    display: inline;
}

button {
    float: right;
    background: #fec107;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background: #c9c0a2;
}


.button-holder {
    margin-bottom: 40px;
}

#submit_result {
    font-size: 0.8em;
    margin-top: 15px;
    display: block;
    float: left;
}

.error-result {
    color: rgb(240, 0, 0);
}

.success-result {
    color: rgb(0, 240, 0);
}